extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner Ching Chong suck my Dong
        div.Message
            div.Title
                h3 zuigt u graag
                h1 Piemels
            span.Details Access the FlutteZuggen Portal
        div.NavButtons
            a(href="/user")
                div.NavButton alakbar!